:root{
    --color-col1: rgb(111, 246, 111);
    --color-col2: rgb(245, 168, 24);
}
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body{
    width: 100%;
    position: static;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: black;
}

.navbar{
    width: 100%;
    position: fixed;
    display: flex;
    padding: 0 10px 0 10px;
    flex-direction: row;
    justify-content:space-between;
    background-color: black;
    z-index: 3;
}
.navstart{
    padding: 7px;

}
.navstart a{
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navend{
    display: flex;

}
.navend nav{
    margin-left: 5px;
    padding: 5px;
    padding: 7px;
}
.navend nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.navend nav:hover{
    border-bottom: 2px solid rgb(91, 245, 91);
    transition: ease-in 0.6s;
}


.mobilemenubar{
    display: none;
}


section{
    padding-top: 85px;
    display: block;
    width: 70%;
    margin: 0 auto;
}

.intro{
    width: 100%;
    margin-bottom: 100px;
}
.intro h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 35px;
}
.pintro{
    display: inline-table;
}
.wave{
    display: inline-table;
    text-shadow: none;
    transform: 0% 0%;
    animation-name: wave;
    animation-duration: 3s;
    animation-iteration-count: 3;
    animation-delay: 2s;
}

@keyframes wave{
    0%{
        transform:rotate(5deg);
        transform: scale(5);
    }

    25%{
        transform:rotate(10deg);
    }

    45%{
        transform:rotate(20deg);
    }

    30%{
        transform:rotate(30deg);
    }

    40%{
        transform:rotate(50deg);
    }

    50%{
        transform:rotate(70deg);
    }

    60%{
        transform:rotate(70deg);
    }

    70%{
        transform:rotate(50deg);
    }

    80%{
        transform:rotate(30deg);
    }

    90%{
        transform:rotate(20deg);
    }

    100%{
        transform:rotate(10deg);
    }

    110%{
        transform:rotate(5deg);
    }

    120%{
        transform:rotate(-10deg);
    }

    130%{
        transform:rotate(-20deg);
    }

    
    

}





.fend{
    color: var(--color-col1);
    font-weight: bolder;
}
.to_project{
    width: fit-content;
    padding: 5px;
    font-size: 12px;
    border-radius: 15px;
    font-weight: lighter;
    background-color: transparent;
    border: 2px solid var(--color-col2);
}
.to_project a{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
}
.to_project:hover{
    box-shadow: 0px 0px 2px 2px var(--color-col2);
    transform: scale(1.05);
    transition: all 2s;
}

.about{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 100px;
}
.chara{
    width: 55%;
}
.chara h3{
    margin-bottom: 20px;
    text-transform: capitalize;
}
h3 span{
    color: var(--color-col1);
}
.chara p{
    max-width: 75%;
    margin-bottom: 10px;
    line-height: 23px;
}
.abpic{
    width: 45%;
}
.abpic img{
    width: 75%;
    border-radius: 8px;
}

.projects{
    width: 100%;
    position: static;
}
.projects h3{
    margin-bottom: 15px;
}
.pjc a{
    text-decoration: none;
    color: white;
}
.project_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pjc{
    width: 30%;
    height: 250px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 4px;
}

.pjc:hover{
    box-shadow: 0px 0px 3px 3px var(--color-col2);
    transform: scaleY(1.1);
    transition: all 1.5s;
    background-color: rgb(38, 36, 36);
}
.pjc img{
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 55%;
}
.project_title{
    margin-top: 5px;
    margin-bottom: 10px;
    color: var(--color-col2);
    text-decoration: underline;
}

.pjc p{
    font-size: 13px;
    max-width: 95%;
    line-height: 20px;
}

.contact{
    width: 100%;
    margin-top: 140px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(96, 95, 95);
}
.contact a{
    text-decoration: none;
    color: white;
    padding: 15px;
}
.contact:hover{
    box-shadow: 0px 0px 1px 1px var(--color-col2);
}
.foot{
    width: 70%;
    margin: 100px auto;
    font-size: 15px;
}
.foot a{
    color: white;
    text-decoration: none;
    margin: 5px;
    border-bottom: 1px solid var(--color-col1);
}
.foot a:hover{
    color: var(--color-col2);
}

.foot2 {
    width: 100%;
    margin: 40px auto;
    font-size: 12px;
    text-align: center;
}
.foot2 span{
    color: chartreuse;
}

/*------------------------------------- PROJECT PAGE DESIGN ------------------------------*/

.project_intro{
    display: flex;
    width: 100%;
}
.introtext{
    width: 70%;
}
.introtext h2{
    width: 70%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
}
.introp{
    width: 80%;
    margin-bottom: 15px;
}
.project_intro h5{
    margin-bottom: 10px;
    margin-top: 10px;
}
.smalltt code:first-of-type::before{
    content: '*';
    color: red;
}
.smalltt{
    font-size: 14px;
    font-weight: lighter;
}
.visitweb{
    width: fit-content;
    margin-top: 15px;
    margin-bottom: 100px;
    padding: 10px;
    border-radius: 20px;
    background-color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.visitweb a{
    color: white;
    text-decoration: none;
}
.visitweb:hover{
    color: blueviolet;
    box-shadow: 0px 0px 1px 2px var(--color-col1);
    transition: all 1s;
}
.fa-up-right-from-square{
    font-size: 13px;
}
.intro_pic{
    width: 30%;
}

.intro_pic img{
    width: 100%;
    margin-top: 30px;
}



.project_main h3{
    margin-bottom: 30px;
    text-transform: capitalize;
}
.project_main figure{
    margin-bottom: 10px;
}
.project_main img{
    border-radius: 8px;
}
.moreproject a{
    text-decoration: none;
    color: white;
    padding: 8px;
}
.moreproject{
    width: fit-content;
    margin: 30px auto;
    background-color: aqua;
    padding: 10px;
    border-radius: 20px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blueviolet;
}
.moreproject:hover{
    color: blueviolet;
    box-shadow: 0px 0px 1px 2px var(--color-col1);
    transition: all 1s;
}
















@media(max-width: 762px){
    .navend{
        display: none;
    }
    .mobilemenubar{
        display: block;
        font-size: 25px;
        margin: 5px;
    }
    #closemenu{
        display: none;
    }
    .menus{
        position: absolute;
        display: none;
        width: 100%;
        height: 100vh;
        right: 0;
        background-color:white;
        transition: 1.5s all;
    }
    .menus nav{
        width: 100%;
        padding: 5px;
        margin: 5px;
        border-bottom: 1px solid black;
        text-align: left;
    }
    .menus nav a{
        text-decoration: none;
        color:  rgb(245, 168, 24);
        font-weight: 600;
        font-size: 0.9em;
    }
    .menus nav a:active{
        color: rgb(36, 36, 228);
    }
    .menulink{
        width: 80%;
        position: static;
        margin: 20px auto;
        color: black;
    }
    .menulink p{
        font-size: 10px;
        text-align: left;
        font-weight: bold;
    }
    .menulink p::after{
        content: ' :';
        font-weight: bold;
        color: brown;
    }
    section{
        width: 90%;
    }
    .socs{
        display: flex;
        justify-content: space-evenly;
        margin: 5px;
        border: 1.5px solid black;
        border-radius: 5px;
        background-color: antiquewhite;
    }
    .socs i{
        padding: 5px;
    }

    .abpic img{
        width: 200px;
        height: 200px;
        margin-top: 100px;
        border-radius: 55%;
    }
    .chara p{
        max-width: 95%;
        line-height: normal;
    }
    .pjc{
        width: 45%;
    }
    .project_description{
        font-size:10px ;
        width: 100%;
    }
    
    .introtext{
        width: 70%;
    }
    .intro_pic img{
        width: 50%;
        margin-top: 0;
    }
   
}

@media(max-width: 1020px){
    .pjc{
        width: 45%;
    }

    .abpic img{
        width: 250px;
        height: 250px;
        margin-top: 50px;
        border-radius: 55%;
    }
}

@media(max-width: 780px){
    .abpic img{
        width: 200px;
        margin-top: 50px;
        border-radius: 55%;
    }

}

@media(max-width: 650px){

    .intro{
        background-image: url(../images/myprofilepic.jpg);
        height: 300px;
    }
    .intro h2{
        text-shadow: 4px 4px 4px black;
    }
    .about{
        display: block;
    }
    .abpic{
        display: none;
    }
    .chara{
        width: 100%;
    }
    .project_container{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .pjc{
        width: 85%;
        margin-bottom: 10px;
    }
    
}